import React, { FunctionComponent } from 'react'
{{#if style}}

import styles from './{{name}}.style.scss'
{{/if}}

const {{name}}: FunctionComponent = () => {
  return <h1>{{name}} component</h1>
}

export default {{name}}
